.App {
  text-align: center;
  background-color: #eeeeee;
  margin: 0 auto;
  margin-top: 1%;
  max-width: 1100px;
  width: 100%;
  height: 100%;
  /* position: relative; */
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #eeeeee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* .backImage {
  background-image: url('https://cdn.dribbble.com/users/311276/screenshots/7752996/media/62a981ba6414e2a6336077c935cb9c16.gif');
  background-position: center;
  object-fit: cover;
} */
