html {
  background-color: #D3D3D3;
  /* overflow-y: auto !important; */
  font-size: 62.5%;
  margin-left: calc(100vw - 100%);
}

@media (max-width: 600px){
  html {
    margin-left: 0;
    width: 100vw;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

p, input, textarea, label {
 
  font-size: 1.4rem;
}

a {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
}

button {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
}

::placeholder {
  font-family: 'Open Sans', sans-serif;
}

::-webkit-input-placeholder { /* Edge */
  font-family: 'Open Sans', sans-serif;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: 'Open Sans', sans-serif;
}

/* * {
  box-sizing: border-box;
}


html, body {
  font-family: 'Ubuntu', sans-serif;
  
}

h1, h2, h3, h4, h5 {
  font-family: 'Russo One', sans-serif;
 
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.4rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.4;
} */





#root {
  background-color: #D3D3D3;
}

body {
  margin: 0;
  font-family: ITC Grouch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 0 !important;
  background-color: #D3D3D3;
  overflow-x: hidden;
  overflow-anchor:  none;
}



code {
  font-family: ITC Grouch;
}